body {
    background-color: #F8F8F8;
    color: #BBBBBB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    header {
        display: inline-block;
        width: 1000px;
        margin-top: 25px;
        margin-left: calc(  (100% - 1000px) / 2 );
    }
       header > img {
           display: inline-block;
           float: left;
        }
        nav {
            display: inline-block;
            float: right;
            margin-top: 20px;
        }
            a {
            display: inline-block;
            float: left;
            margin-left: 40px;
            text-decoration: none;
            color: #9E9E9E;
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 18px;
            border: 5px solid transparent;
            border-radius: 21px;
            }
            a:last-of-type {
                border: 5px solid #9E9E9E;
                border-radius: 21px;
                text-transform: uppercase;
            }
    main {
        width: 1000px;
        margin-left: calc( (100% - 1000px) / 2 );
    }
        div {
            display: inline-block;
            width: 40%;
            float: left;
            margin-top: 100px;
            color: #9E9E9E;
        }
            h1 {
                font-size: 120px;
                margin-bottom: 0;
            }
            p {
                margin: 0;
                font-size: 30px;
            }
        main > img {
            margin-top: 70px;
            display: inline-block;
            width: 50%;
            float: right;
        }